@charset "utf-8";
.modal-root {
    display: none;
    position: fixed;
    z-index: 9999;
    inset: 0px;
}

.modal-background {
    inset: 0px;
    display: flex;
    z-index: -1;
    position: fixed;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
}

.modal-wrapper {
    position: fixed;
    inset: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    text-align: center;
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.modal-container {
    width: 100%;
    position: relative;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 376px;
}

.modal-content {
    width: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.08) 0px 6px 16px 0px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: left;
    max-height: calc(100% - 128px);
    margin: 64px;
}

.close-button-box {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.close-button {
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    min-width: 42px;
    padding: 0px;
    border-radius: 21px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(48, 52, 65);
}

.svg-box {
    display: inline-block;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    color: rgb(48, 52, 65);
}

.close-button svg {
    width: 28px;
    height: 28px;
}

.svg {
    display: inline-block;
}

.modal-box {
    display: flex;
    border-radius: 8px;
    overflow: hidden auto;
}

.modal-area {
    padding: 40px 28px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.modal-header {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 24px;
}

.modal-body {
    display: flex;
    gap: 8px;
    flex-direction: column;
    flex: 1 1 0%;
}

.input-box {
    width: 100%;
    border: 1px solid rgb(228, 229, 237);
    border-radius: 4px;
    transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    cursor: text;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 52, 65);
    height: 42px;
    font-size: 15px;
    padding: 0px 14px;
    min-width: 64px;
}

.input-box:focus-within {
    border-color: rgb(114, 117, 133);
}

.input-box:hover {
    border-color: rgb(114, 117, 133);
}

.input-info {
    outline: none;
    flex: 1 1 0%;
    width: 100%;
    background-image: none;
    box-sizing: border-box;
    font-size: inherit;
    border: none;
    font-weight: inherit;
    background-color: transparent;
    text-align: left;
    color: inherit;
}

.input-info::placeholder{
    color: rgb(200,202,210);
}

.error-log-box {
    margin: 4px 0px 0px;
}

.error-log {
    margin: 0px;
    color: rgb(255, 64, 43);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0px;
}
.modal-login-button-area {
    margin-top: 8px;
}
.modal-login-button {
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0px 22px;
    min-width: 64px;
    background-color: #F9A01B;
    border-color: #F9A01B;
    color: rgb(48, 52, 65);
}
.forgot-account-link {
    font-size: 14px;
    color: rgb(85, 89, 105);
    text-decoration: none;
}
.forgot-account {
    margin: 0px;
    color: rgb(114, 117, 133);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.429;
    letter-spacing: 0px;
}
.modal-social-login-box {
    margin: 20px 0px 16px;
    border: 1px solid rgb(228, 229, 237);
    padding: 16px;
    border-radius: 8px;
}
.modal-social-login-title {
    margin: 0px;
    color: rgb(33, 34, 36);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.428;
    letter-spacing: 0px;
}
.modal-social-login-container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content:space-between;
    margin-top: 8px;
}
.modal-social-login {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.modal-signup-link {
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    height: 42px;
    font-size: 15px;
    padding: 0px 22px;
    min-width: 64px;
    background-color: transparent;
    border-color: rgb(48, 52, 65);
    color: rgb(48, 52, 65);
}
.modal-event-message-box {
    text-align: center;
    margin-top: 12px;
}
.modal-event-message {
    margin: 0px;
    color: rgb(33, 34, 36);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.385;
    letter-spacing: 0px;
}