.header {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: space-between;
}

.logo-osca {
    height: 16px;
    margin-top: 8px;
}

.cs {
    height: 16px;
    padding-left: 6px;
}

.nav-wrapper a {
    border: 0;
    color: rgba(22, 158, 230, 1);
    display: none;
    text-decoration: none;
    font-size: 14px;
    padding: 0 20px 0 0;
    width: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.user-info {
    display: inline-block;
}

.dropdown-toggle {
    display: inline-block;
    vertical-align: middle;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle {
    background: none;
    border: 0;
    padding: 0;
    text-align: initial;
}

.button, [role="button"] {
    border: 1px solid #E4E5ED;
    border-radius: 4px;
    color: #9a9ba7;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 2.34;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    -webkit-touch-callout: none;
}

.user-info > [role="button"] {
    border: 0;
    color: rgba(22, 158, 230, 1);
    min-width: 0;
    padding: 0;
    white-space: nowrap;
}

.dropdown-toggle>* {
    display: inline-block;
}

.user-avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#user #user-name {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

#user #user-name {
    display: none;
    font-size: 14px;
}

.dropdown-toggle::after {
    color: #888;
    content: "  ∨";
    display: inline-block;
    font-family: "entypo";
    vertical-align: middle;
}

.dropdown-toggle::after {
    color: inherit;
}

.button::after, [role="button"]::after {
    color: rgba(255, 212, 0, 1);
}

.user-info .dropdown-toggle::after {
    display: none;
}

.user-info > [role="button"]::after {
    color: rgba(22, 158, 230, 1);
    padding-right: 15px;
}

.dropdown-menu {
    background: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    display: none;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    margin-top: 1px;
    min-width: 170px;
    padding: 10px 0;
    position: absolute;
    text-align: left;
    z-index: 1000;
}

.dropdown-menu-caret {
    margin-top: 10px;
}

.dropdown-menu-end {
    left: auto;
    right: 0;
}

#user #user-dropdown {
    background: #fff;
    min-width: 200px;
}

.dropdown-menu [role=menuitem] {
    color: #333;
    cursor: pointer;
    display: block;
    padding: 7px 40px 7px 20px;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    line-height: inherit;
    width: 100%;
}

[dir="ltr"] .dropdown-menu [role=menuitem] {
    text-align: left;
}





