<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>즐겨찾기</title>
    <link rel="stylesheet" href="../../static/css/mypage/favourites.css" />
    <link rel="stylesheet" href="../../static/css/study/study-main/study-footer.css" />
    <link rel="stylesheet" href="../../static/css/header/header.css" />
    <link rel="stylesheet" href="../../static/css/mypage/mypage.css" />
    <link rel="icon" type="image/x-icon" href="../../static/images/favicon.png" />
  </head>
  <body>
    <header class="header-wrapper">
      <section class="header-container">
        <a href="/" aria-label="logo" class="header-logo">
          <img src="../../static/images/logo.png" alt="오!스카 로고" style="width: 70px; height: 40px" />
        </a>
        <div>
          <span class="header-line"></span>
          <a href="" class="header-menu">오늘의 스터디</a>
          <a href="" class="header-menu">오늘의 카페</a>
          <a href="" class="header-menu">FAQ</a>
          <a href="" class="header-menu">Oh!스카 소개</a>
        </div>
        <div style="flex-grow: 1"></div>
        <div class="header-aside">
          <a
            role="link"
            color="default"
            href="/inboxes?inbox_group_id=&amp;partner_id="
            class="header-aside-menu"
            aria-expanded="false"
          >
            <span class="aside-menu-contents">
              <p variant="body2" class="aside-contents" color="gray900">회원가입</p>
            </span>
          </a>
          <a
            role="link"
            color="default"
            href="/inboxes?inbox_group_id=&amp;partner_id="
            class="header-aside-menu"
            aria-expanded="false"
          >
            <span class="aside-menu-contents">
              <p variant="body2" class="aside-contents" color="gray900">로그인</p>
            </span>
          </a>
          <a
            role="link"
            color="default"
            href="/inboxes?inbox_group_id=&amp;partner_id="
            class="header-aside-menu"
            aria-expanded="false"
          >
            <span class="aside-menu-contents">
              <p variant="body2" class="aside-contents" color="gray900">마이페이지</p>
            </span>
          </a>
          <div>
            <div class="header-profile" aria-expanded="false">
              <a href="/buyer/order-list" class="profile-link">
                <div class="profile-wrapper">
                  <div size="32" shape="0" role="article" class="profile-shape">
                    <img
                      src="https://kmong.com/img/tools/main_user_gray.png"
                      alt="avatar"
                      shape="0"
                      loading="lazy"
                      class="profile-img"
                      style="height: 32px; width: 32px"
                    />
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </header>

    <div class="bodyall">
      <div class="body">
        <div class="body-wrapper">
          <aside class="aside-wrapper">
            <section class="aside-top">
              <div class="profile">
                <img
                  src="https://kmong.com/img/tools/main_user_gray.png"
                  alt="프로필 이미지"
                  class="profile-image"
                />
              </div>
              <div class="username">유저네임</div>
            </section>
            <section class="aside-bottom">
              <div class="mini">마이 페이지</div>
              <hr orientation="horizontal" class="line" />
              <a class="menu-list" href="">
                <div class="menu-list-text">내 프로필</div>
              </a>
              <a class="menu-list" href="">
                <div class="menu-list-text">계정 관리</div>
              </a>
              <a class="menu-list" href="">
                <div class="menu-list-text">내 스터디</div>
              </a>
              <a class="menu-list" href="">
                <div class="menu-list-text menu-page-here">즐겨찾기</div>
              </a>
            </section>
          </aside>
          <main class="mypage">
            <div class="mypage-top">
                <h2 class="mypage-title">즐겨찾기</h2>
            </div>
            <div class="border">

              <div class="study-list-container">
                <div class="right-menu-content-wrapper position-relative">

                  <!-- ===================== 스터디 리스트 뿌려지는 부분 ===================== -->
                  <div class="study-list-group-wrapper">
                    <a href="" class="study-menu-wrapper">
                      <div class="study-info-wrapper">
                        <div class="date-chip-wrapper">
                          <div class="date-chip">
                            <div class="date-chip-content font-medium date-chip-red">
                              <!-- ===================== 스터디 마감 D-day 표시되는 부분 ===================== -->
                              <span>D-2</span>
                            </div>
                          </div>
                          <!-- ===================== 스터디 마감 제목 나오는 부분 ===================== -->
                          <span class="study-title">네이버 개발자와 함께하는 Spring Boot 스터디</span>
                        </div>
                        <!-- ===================== 스터디 카테고리: 근데 이건 봐서 뺄 수 있을거 같앙!! 언니 하고 싶은대로 해 ㅎㅎ ===================== -->
                        <div class="study-breadcrumb">IT·프로그래밍 / 프로그램 개발</div>
                        <!-- ===================== 상세 프로젝트 내용 ===================== -->
                        <div class="study-main-content">
                          안녕하세요! Spring Boot 스터디에서 스터디원을 모집합니다.
                          IT 업계에서 근무하거나 공부하는 사람들과 함께 모여서 정보 공유와 개인 공부를 목적으로 개설된 스터디입니다.
                          스터디는 프로젝트를 수행하는 방식으로 진행하고자 합니다.
                          혹시 관심 있으신 분은 지원 부탁드립니다.
                        </div>

                        <div class="study-detail-info">
                          <div class="study-detail">
                            <div class="study-detail-label">모집 마감일</div>
                            <div class="study-detail-value">
                              <!-- ===================== 스터디 모집 마감일 ===================== -->
                              <span style="font-weight: 450;">2023년 8월 27일</span>
                            </div>
                          </div>
                          <div class="study-detail-divider"></div>
                          <div class="study-detail">
                            <div class="study-detail-label">진행 기간(일)</div>
                            <div class="study-detail-value">
                              <!-- ===================== 스터디 진행 기간나오는 부분 ===================== -->
                              <span style="font-weight: 450;">180일</span>
                            </div>
                          </div>
                          <div class="study-detail-divider"></div>
                          <div class="study-detail">
                            <div class="study-detail-label">모집 인원</div>
                            <div class="study-detail-value">
                              <!-- ===================== 모집 인원 나오는 부분 ===================== -->
                              <span style="font-weight: 450;">5인</span>
                            </div>
                          </div>
                        </div>
                      </div>
                                        <!-- ===================== 스크랩 있는 부분 ===================== -->
                  <div class="bookmark">
                    <div class="bookmark-icon">
                      <img src="../../static/images/study-images/bookmark.png" style="height: 17px; width: 17px; cursor: pointer;" class="bookmark-add-color">
                    </div>
                  </div>
                      <div class="study-main-image-wrapper">
                        <!-- ===================== 스터디 썸네일 넣는 부분 =====================  -->
                        <div class="study-main-image border-opacity" style="background-image: url(../../static/images/study-images/study-main.png);"></div>
                      </div>
                    </a>
                  </div>
                   <!-- ===================== 스터디 리스트 뿌려지는 부분 ===================== -->      
                  <div class="study-list-group-wrapper">
                    <a href="" class="study-menu-wrapper">
                      <div class="study-info-wrapper">
                        <div class="date-chip-wrapper">
                          <div class="date-chip">
                            <div class="date-chip-content font-medium date-chip-red">
                              <!-- ===================== 스터디 마감 D-day 표시되는 부분 ===================== -->
                              <span>D-2</span>
                            </div>
                          </div>
                          <!-- ===================== 스터디 마감 제목 나오는 부분 ===================== -->
                          <span class="study-title">네이버 개발자와 함께하는 Spring Boot 스터디</span>
                        </div>
                        <!-- ===================== 스터디 카테고리: 근데 이건 봐서 뺄 수 있을거 같앙!! 언니 하고 싶은대로 해 ㅎㅎ ===================== -->
                        <div class="study-breadcrumb">IT·프로그래밍 / 프로그램 개발</div>
                        <!-- ===================== 상세 프로젝트 내용 ===================== -->
                        <div class="study-main-content">
                          안녕하세요! Spring Boot 스터디에서 스터디원을 모집합니다.
                          IT 업계에서 근무하거나 공부하는 사람들과 함께 모여서 정보 공유와 개인 공부를 목적으로 개설된 스터디입니다.
                          스터디는 프로젝트를 수행하는 방식으로 진행하고자 합니다.
                          혹시 관심 있으신 분은 지원 부탁드립니다.
                        </div>

                        <div class="study-detail-info">
                          <div class="study-detail">
                            <div class="study-detail-label">모집 마감일</div>
                            <div class="study-detail-value">
                              <!-- ===================== 스터디 모집 마감일 ===================== -->
                              <span style="font-weight: 450;">2023년 8월 27일</span>
                            </div>
                          </div>
                          <div class="study-detail-divider"></div>
                          <div class="study-detail">
                            <div class="study-detail-label">진행 기간(일)</div>
                            <div class="study-detail-value">
                              <!-- ===================== 스터디 진행 기간나오는 부분 ===================== -->
                              <span style="font-weight: 450;">180일</span>
                            </div>
                          </div>
                          <div class="study-detail-divider"></div>
                          <div class="study-detail">
                            <div class="study-detail-label">모집 인원</div>
                            <div class="study-detail-value">
                              <!-- ===================== 모집 인원 나오는 부분 ===================== -->
                              <span style="font-weight: 450;">5인</span>
                            </div>
                          </div>
                        </div>
                      </div>
                                        <!-- ===================== 스크랩 있는 부분 ===================== -->
                  <div class="bookmark">
                    <div class="bookmark-icon">
                      <img src="../../static/images/study-images/bookmark.png" style="height: 17px; width: 17px; cursor: pointer;" class="bookmark-add-color">
                    </div>
                  </div>
                      <div class="study-main-image-wrapper">
                        <!-- ===================== 스터디 썸네일 넣는 부분 =====================  -->
                        <div class="study-main-image border-opacity" style="background-image: url(../../static/images/study-images/study-main.png);"></div>
                      </div>
                    </a>
                  </div>



                    </div>
                  </div>
                </div>
              </div>   
        </div>
        
    </div>

          </main>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-inner">
        <ol style="width: 45%; padding: 0">
          <b>(주)OH!스카</b>
          | 서울특별시 강남구 테헤란로 26길 12 제일비전타워 13층 | 대표 : 정해승<br />
          개인정보보호책임 : 배정수 | 사업자등록번호 : 815-88-00171<br />
          통신판매업신고 : 2015 - 서울강남 - 03148호 | 02-2135-2949<br />
          koreais@koreaedugroup.com
        </ol>
        <ol>
          <a href="">오늘의 스터디</a>
        </ol>
        <ol>
          <a href="">오늘의 카페</a>
        </ol>
        <ol>
          <a href="">FAQ</a>
        </ol>
        <ol>
          <a href="">OH!스카 소개</a>
        </ol>
      </div>
      <div class="footer-media">
        &nbsp;&nbsp; (주)OH!스카 &nbsp;&nbsp;&nbsp;
        <a href="">오늘의 스터디</a>&nbsp; <a href="">오늘의 카페</a>&nbsp; <a href="">FAQ</a>&nbsp;
        <a href="">OH!스카 소개</a>&nbsp;
      </div>
    </footer>
  </body>
</html>
