<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/css/mypage/settings.css"/>
    <link rel="stylesheet" href="/css/mypage/passwordchange.css"/>
    <link rel="stylesheet" href="/css/study/study-main/study-footer.css"/>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png"/>
</head>
<body>
<!-- 헤더 시작 -->
<div th:if="${session.id == null}"><header th:replace="~{/fix/header :: unlogined-header}"></header></div>
<div th:if="${session.id != null && session.memberRole == 2}"><header th:replace="~{/fix/header :: social-logined-header}"></header></div>
<div th:if="${session.id != null && session.memberRole == null}"><header th:replace="~{/fix/header :: logined-header}"></header></div>
<!-- 헤더 끝 -->


    <div>
        <div class="body-div">
            <aside class="setting-menu-box">
                <div class="menu-title">계정 설정</div>
                <hr class="line"/>
                <a class="menu-list" th:href="@{/setting/}">내 정보</a>
                <a class="menu-list menu-selected" th:href="@{/password/change}">비밀번호 변경</a>
                <a class="menu-list" th:href="@{/setting/withdraw}">회원 탈퇴</a>
            </aside>
            <hr class="line-mini">
            <main class="body-details">
                <div class="body-details-div">
                    <h1 class="body-details-title">비밀번호 변경</h1>
                    <form action="/password/change" method="post" id="frm" class="body-box">
                        <section>
                            <label class="info-title"
                            ><span class="info-title-words">현재 비밀번호</span></label
                            >
                            <div class="inputbox">
                                <input
                                        type="password"
                                        name="currentPassword"
                                        placeholder="기존 비밀번호를 입력해주세요."
                                        class="input-box-value"
                                        id="user-password"
                                />
                            </div>
                            <div>
                                <div class="password-check">
                                    <p class="check-input-password">
                                    </p>
                                </div>
                            </div>
                        </section>


                        <section class="new-password-section">
                            <div class="title-area">
                                <label class="new-password-title" >
                                    <span class="info-title-words">변경할 비밀번호</span>
                                </label>
                                <label class="new-password-title" >
                                    <span class="info-title-words">한번 더 입력</span>
                                </label>
                            </div>
                            <div class="new-password-input-area">
                                <div>
                                    <div class="password-input-box">
                                        <input
                                                type="password"
                                                placeholder="변경할 비밀번호를 입력해주세요."
                                                name="memberPassword"
                                                class="input-box-value"
                                                />
                                    </div>
                                    <div>
                                        <div class="wrong-input">
                                            <p class="wrong-input-text p2">
                                                8자 이상, 영문 대 소문자, 숫자, 특수문자를 사용하세요.
                                            </p>
                                        </div>
                                        <div></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="password-input-box">
                                        <input
                                                type="password"
                                                placeholder="변경할 비밀번호를 한번더 입력해주세요."
                                                name="newConfirmPassword"
                                                class="input-box-value"
                                        />
                                    </div>
                                    <div class="wrong-input">
                                        <p class="wrong-input-text p3">비밀번호를 확인해 주세요.</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="confirm-box">
                            <div style="flex-grow: 1"></div>
                            <button type="submit" class="confirm-button" disabled="disabled">
                                <span>변경하기</span>
                            </button>
                        </div>
                    </form>
                </div>
            </main>
            <div class="modal hidden">
                <div class="modal-box">
                    <div style="font-size: 16px; margin-bottom: 10px;">비밀번호가 수정 되었습니다.</div>
                    <button class="accept-btn">OK</button>
                </div>
            </div>
        </div>
    </div>

<footer th:replace="~{/fix/footer :: footer}"></footer>

</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/mypage/passwordchange.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</html>
