<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>포인트 결제</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png"/></head>
    <link rel="stylesheet" href="/css/mypage/point-charge.css" />
  <script src="https://js.tosspayments.com/v1/payment-widget"></script>
  <body>
  <div style="margin:auto; ">
      <div id="payment-method"></div>
      <div id="agreement"></div>
      <!-- 결제하기 버튼 -->
      <button id="payment-button" class="btn size-l point-payment" style="
      width: 150px;
      background-color:#144F79;
      color: #ffffff;
      margin: 0 auto;
      display: flex;
      justify-content: center;">결제하기</button>
  </div>
  </body>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/mypage/payment-api.js"></script>
</html>
