<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>포인트 충전</title>
    <link rel="stylesheet" href="/css/study/study-main/study-footer.css"/>
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="stylesheet" href="/css/mypage/mypage.css" />
    <link rel="stylesheet" href="/css/mypage/point-charge.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png"/></head>
  <body>
  <!-- 헤더 시작 -->
  <div th:if="${session.id == null}"><header th:replace="~{/fix/header :: unlogined-header}"></header></div>
  <div th:if="${session.id != null && session.memberRole == 2}"><header th:replace="~{/fix/header :: social-logined-header}"></header></div>
  <div th:if="${session.id != null && session.memberRole == null}"><header th:replace="~{/fix/header :: logined-header}"></header></div>
  <!-- 헤더 끝 -->


  <div class="bodyall">
      <div class="body">
        <div class="body-wrapper">
          <aside class="aside-wrapper">
            <section class="aside-top">
              <div class="profile">
                <img
                  src="https://kmong.com/img/tools/main_user_gray.png"
                  alt="프로필 이미지"
                  class="profile-image"
                />
              </div>
              <div class="username" th:text="*{memberNickname}"></div>
            </section>
            <section class="aside-bottom">
              <div class="mini">마이 페이지</div>
              <hr orientation="horizontal" class="line" />
              <a class="menu-list" th:href="@{/mypage/point-charge}">
                <div class="menu-list-text menu-page-here">포인트 충전</div>
              </a>
              <a class="menu-list" th:href="@{/setting}">
                <div class="menu-list-text">계정 관리</div>
              </a>
              <a class="menu-list" th:href="@{/cafe/my-cafe}">
                <div class="menu-list-text">내 카페</div>
              </a>
            </section>
          </aside>

          <!-- 포인트 충전 -->
          <div class="content-wrapper">
            <section class="CashChargeSelectCard">
              <div class="CashChargeSelectCard-main-title">포인트 충전</div>
              <div class="selectCard-options-box">
                <div class="cashPrice-select-box">
                  <img
                    width="150px"
                    height="160px"
                    src="/images/mypage/cash-icon2.png"
                    class="big-edit cash-icon"
                    style="margin-right: 35px"
                  />
                  <div class="options-main">
                    <p class="big-edit selectCard-options-label">충전 포인트</p>
                    <div class="description-box">
                      <p class="selectCard-options-description">충전금액을 선택하세요.</p>
                      <p class="can-maximum-charge">
                        *최대 충전 가능 포인트 : <span>2,000,000</span>원
                      </p>
                    </div>
                    <div class="cash-option-button-list">
                      <div class="cash-option-button">
                        <label
                          class="width-100 flex-center-center"
                          style="margin: 0px; height: 50px"
                          ><input type="radio" name="charge-amount" class="hide" value="50000" />
                          <span class="awesome-radio-body hide"></span>
                          <div class="awesome-radio-text"><span> +5만원 </span></div></label
                        >
                      </div>
                      <div class="cash-option-button">
                        <label
                          class="width-100 flex-center-center"
                          style="margin: 0px; height: 50px"
                          ><input type="radio" name="charge-amount" class="hide" value="100000" />
                          <span class="awesome-radio-body hide"></span>
                          <div class="awesome-radio-text"><span> +10만원 </span></div></label
                        >
                      </div>
                      <div class="cash-option-button">
                        <label
                          class="width-100 flex-center-center"
                          style="margin: 0px; height: 50px"
                          ><input type="radio" name="charge-amount" class="hide" value="300000" />
                          <span class="awesome-radio-body hide"></span>
                          <div class="awesome-radio-text"><span> +30만원 </span></div></label
                        >
                      </div>
                      <div class="cash-option-button">
                        <label
                          class="width-100 flex-center-center"
                          style="margin: 0px; height: 50px"
                          ><input type="radio" name="charge-amount" class="hide" value="500000" />
                          <span class="awesome-radio-body hide"></span>
                          <div class="awesome-radio-text"><span> +50만원 </span></div></label
                        >
                      </div>
                      <div class="cash-option-button">
                        <label
                          class="width-100 flex-center-center"
                          style="margin: 0px; height: 50px"
                          ><input type="radio" name="charge-amount" class="hide" value="1000000" />
                          <span class="awesome-radio-body hide"></span>
                          <div class="awesome-radio-text"><span> +100만원 </span></div></label
                        >
                      </div>
                      <div class="cash-option-button">
                        <label
                          class="width-100 flex-center-center"
                          style="margin: 0px; height: 50px"
                          ><input type="radio" name="charge-amount" class="hide" value="1500000" />
                          <span class="awesome-radio-body hide"></span>
                          <div class="awesome-radio-text"><span> +150만원 </span></div></label
                        >
                      </div>
                    </div>
                   </div>
                </div>

                <div class="payment-options-select-box">
                    <div class="options-main">
                    <div class="flex-center-center">
                      <a th:href="@{/mypage/payment-api}">
                        <div class="Button">
                          <a
                            disabled="disabled"
                            class="btn size-l point-payment"
                            id="payment"
                            style="font-size: 15px; font-weight: 500"
                            th:href="@{/mypage/payment-api}"
                          >
                              <span class="pay-button point-payment">충전하기</span>
                          </a>
                        </div>
                      </a>
                    </div>
                    <form id="LGD_PAYINFO" method="post" name="LGD_PAYINFO" action=""></form>
                  </div>
                </div>
              </div>

            </section>
            <section class="CashChargeDescriptionBox">
              <h4 class="description-title">
                <img src="/images/mypage/checked-black.svg" alt="check-mark" style="margin-right: 5px" />
                <span>이용 상세 안내</span>
              </h4>
              <ul class="description-list">
                <li>• 충전 포인트는 최대 200만원까지 보유할 수 있습니다.</li>
                <li>
                  • 신용카드 결제 시 각 카드사의 결제한도가 적용되며, 결제수단 선택 후 안내 표를
                  통해 확인하실 수 있습니다.
                </li>
                <li>
                  • 충전 포인트의 유효기간은 충전일로부터 5년이며, 보너스 적립 포인트의 유효기간은
                  4개월입니다.
                </li>
                <li>
                  • 서비스 구매 시 유효기간 만료일이 가까운 순서대로 사용되나, 보너스 적립 포인트의
                  경우 충전 포인트가 모두 소진된 이후 사용됩니다.
                </li>
                <li>
                  • 충전 포인트는 상품/서비스 구매를 위하여 사전에 일정 금액을 예치하는 것이므로
                  세금계산서 발행 대상이 아닙니다.
                </li>
                <li>
                  • 충전 포인트를 사용하여 상품/서비스를 구매하실 때 결제 금액에 대한 세금계산서
                  신청이 가능합니다. (개인전문가는 발행 불가).
                </li>
                <li>
                  • 충전 포인트의 영수증(신용카드 전표/현금영수증)은 개인 소득공제용으로만 사용하실
                  수 있습니다.
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  <footer th:replace="~{/fix/footer :: footer}"></footer>

  </body>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/js/mypage/point-charge.js"></script>
</html>
