<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mypage/profile-page.css" />
    <link rel="stylesheet" href="/css/study/study-main/study-footer.css"/>
    <link rel="stylesheet" href="/css/header/header.css" />
    <link rel="stylesheet" href="/css/mypage/mypage.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <title>유저 프로필 - 남에게 보이는 </title>
  </head>
  <body>
    <header class="header-wrapper">
      <section class="header-container">
        <a href="/" aria-label="logo" class="header-logo">
          <img src="/images/logo.png" alt="오!스카 로고" style="width: 70px; height: 40px" />
        </a>
        <div>
          <span class="header-line"></span>
          <a th:href="@{/study/}" class="header-menu">오늘의 스터디</a>
          <a th:href="@{/cafe}" class="header-menu">오늘의 카페</a>
          <a th:href="@{/FAQ/FAQ-main}" class="header-menu">FAQ</a>
          <a th:href="@{/introduction}" class="header-menu">Oh!스카 소개</a>
        </div>
        <div style="flex-grow: 1"></div>
        <div class="header-aside">
          <a
            role="link"
            color="default"
            href="/inboxes?inbox_group_id=&amp;partner_id="
            class="header-aside-menu"
            aria-expanded="false"
          >
            <span class="aside-menu-contents">
              <p variant="body2" class="aside-contents" color="gray900">로그아웃</p>
            </span>
          </a>
          <a
            role="link"
            color="default"
            href="/inboxes?inbox_group_id=&amp;partner_id="
            class="header-aside-menu"
            aria-expanded="false"
          >
            <span class="aside-menu-contents">
              <p variant="body2" class="aside-contents" color="gray900">마이페이지</p>
            </span>
          </a>
          <div>
            <div class="header-profile" aria-expanded="false">
              <a href="/buyer/order-list" class="profile-link">
                <div class="profile-wrapper">
                  <div size="32" shape="0" role="article" class="profile-shape">
                    <img
                      src="https://kmong.com/img/tools/main_user_gray.png"
                      alt="avatar"
                      shape="0"
                      loading="lazy"
                      class="profile-img"
                      style="height: 32px; width: 32px"
                    />
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </header>

    <div class="body-wrapper">
      <div class="UserProfileContainer">
        <div class="ProfileMainSection" style="padding: 32px">
          <div class="ProfileMainSection_profile">
            <div class="MemberProfilePicture">
              <!-- 유저 프로필 나오는 부분 -->
              <img
                src="https://d2v80xjmx68n4w.cloudfront.net/members/thumbs/QfUBa1690812432.png"
                class="profile-image2 img-responsive"
              />
            </div>
          </div>
          <div class="ProfileMainSection__information">
            <!-- 유저 닉네임 나오는 부분 -->
            <div class="ProfileMainSection__username" th:text="*{memberNickName}"></div>
          </div>
        </div>
        <div class="UserProfileContainer__contents">
          <!-- 자기소개 css는 mypage.css-->
          <div class="ProfileDescriptionSection">
            <div class="ProfileSectionTitle">소개</div>
            <div class="ProfileDescriptionSection_desctiption" style="height: inherit" th:text="*{general.generalIntroduction}">
            </div>

            <div class="DescriptionDetailSection">
              <div>
                <div class="ProfileSectionTitle">직업</div>
                <div class="ProfileSkillSection-tag-group">
              <!--  직업 데이터 나오는 부분 -->
                  <div class="ProfileSkillSection-tag" th:text="*{memberJob}"></div>
                </div>
              </div>
              <div>
                <!--  보유 기술 나오는 부분 -->
                <div class="ProfileSectionTitle">보유 기술</div>
                <div class="ProfileSkillSection-tag-group skill-lists">
                </div>
              </div>
            </div>
          </div>
          <!-- 자기소개 끝 -->
          <div class="UserProfileContainer__contents-right">
            <div class="ProfileInformationSection">
              <div class="ProfileInformationSection__section">
                <div class="ProfileInformationSection__section-title">
                  더 많은 정보
                </div>
                <div class="ProfileInformationSection__section-infomation">
                  <span
                    class="ProfileInformationSection__section-infomation-title"
                    >대학교</span
                  >
                  <!--  대학 정보 나오는 부분 -->
                  <span
                    class="ProfileInformationSection__section-infomation-description" th:text="*{general.generalUniversity}"
                    ></span
                  >
                </div>
                <div  class="ProfileInformationSection__section-infomation">
                  <span

                    class="ProfileInformationSection__section-infomation-title"
                    >회사</span
                  >
                  <div  class="ProfileInformationSection__section-answer">
                    <span class="ProfileInformationSection__section-infomation-description" th:text="*{general.generalCompany}">
                  <!--  회사 정보 나오는 부분 --></span>
                  </div>
                </div>
                <div  class="ProfileInformationSection__section-infomation">
                    <span

                      class="ProfileInformationSection__section-infomation-title"
                      >경력</span
                    >
                  <!--  경력 정보 나오는 부분 -->
                  <span

                      class="ProfileInformationSection__section-infomation-description" th:text="*{general.generalCareer}"
                      >신입</span
                    >
                  </div>
                <div  class="ProfileInformationSection__section-infomation">
                    <span class="ProfileInformationSection__section-infomation-title">급여</span
                    >
                  <!-- 급여 데이터 나오는 부분-->
                  <span class="ProfileInformationSection__section-infomation-description" th:text="*{general.generalSalary}">월1000만원</span
                  >
                </div>
              </div>
                  </div>
                </div>

                <!---->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-inner">
        <ol style="width: 45%; padding: 0">
          <b>(주)OH!스카</b>
          | 서울특별시 강남구 테헤란로 26길 12 제일비전타워 13층 | 대표 : 정해승<br />
          개인정보보호책임 : 배정수 | 사업자등록번호 : 815-88-00171<br />
          통신판매업신고 : 2015 - 서울강남 - 03148호 | 02-2135-2949<br />
          koreais@koreaedugroup.com
        </ol>
        <ol>
          <a th:href="@{/study/}">오늘의 스터디</a>
        </ol>
        <ol>
          <a th:href="@{/cafe}">오늘의 카페</a>
        </ol>
        <ol>
          <a th:href="@{/FAQ/FAQ-main}">FAQ</a>
        </ol>
        <ol>
          <a th:href="@{/introduction}">OH!스카 소개</a>
        </ol>
      </div>
      <div class="footer-media">
        &nbsp;&nbsp; (주)OH!스카 &nbsp;&nbsp;&nbsp;
        <a th:href="@{/study/}">오늘의 스터디</a>
        <a th:href="@{/cafe}">오늘의 카페</a>
        <a th:href="@{/FAQ/FAQ-main}">FAQ</a>
        <a th:href="@{/introduction}">Oh!스카 소개</a>
      </div>
    </footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
  <script src="/js/post/post.js"></script>
  <script th:inline="javascript">
    let skills = [[${skills}]];
  </script>
  <script src="/js/mypage/mypage.js"></script>
</html>
