.container-divider {
    border-top: 1px solid #FEEB83;
    margin-bottom: 20px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
}

.sub-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    min-height: 50px;
    padding-bottom: 15px;
}

.breadcrumbs {
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 400;
    color: #666666;
}

.breadcrumbs li {
    display: inline;
    font-weight: 400;
    font-size: 13px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666666;
}

.breadcrumbs li a:visited {
    color: #666666;
}

.breadcrumbs li + li::before {
    content: ">";
    margin: 0 4px;
}

.page-title {
    font-size: 28px;
    font-weight: 700;
    color: #333333;
}

.custom-breadcrumbs {
    font-weight: 400;
    font-size: 13px;
    color: #666666;
}

.form {
    max-width: 650px;
}

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}


button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

input, textarea {
    color: #3333;
    font-size: 14px;
}

input {
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border .12s ease-in-out;
}

label {
    cursor: default;
}

.form-field label {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}

.form-field.required > label::after {
    content: "*";
    color: #f00;
    margin-left: 2px;
}

.form-field input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    color: #333333;
    font-weight: 400;
}

.nesty-input, .nesty-panel {
    box-sizing: border-box;
}

.nesty-input {
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 1px;
    box-shadow: inset 0 1px #e3e3e3;
    color: #333;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0;
    max-width: 250px;
    min-width: 150px;
    overflow: hidden;
    padding: 0 20px 0 5px;
    position: relative;
    text-overflow: ellipsis;
    z-index: 1;
    width: 100%;
    white-space: nowrap;
}

.nesty-input {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: none;
    padding: 0 15px 0 10px;
}

.form-field .nesty-input {
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    outline: none;
    vertical-align: middle;
}

.nesty-input::after {
    color: rgb(153, 153, 153);
    content: "▾";
    line-height: 1em;
    position: absolute;
    right: 10px;
    top: 25%;
}

.form-field p {
    color: #333333;
    font-size: 12px;
    margin: 5px 0;
}

.form-field ~ .form-field {
    margin-top: 25px;
}

.form-field input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form .suggestion-list {
    font-size: 13px;
    margin-top: 30px;
}

textarea {
    border: 1px solid #ddd;
    border-radius: 2px;
    resize: vertical;
    width: 100%;
    outline: none;
    padding: 10px;
}

.form-field textarea {
    vertical-align: middle;
    color: #333333;
}

.request-form textarea {
    min-height: 120px;
}

.form-field p {
    color: #333333;
    font-size: 12px;
    margin: 5px 0;
}

.upload-dropzone {
    border: 1px solid #ddd;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.form-field input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    color: #333333;
    font-weight: 400;
}

.upload-dropzone input[type=file] {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.upload-dropzone span {
    color: #d1d1d1;
    display: inline-block;
    line-height: 24px;
    padding: 10px;
}

.upload-dropzone span {
    color: #999;
}

.upload-dropzone a {
    text-decoration: none;
    font-size: 13px;
}

.notification {
    border: 1px solid;
    display: table;
    font-family: sans-serif;
    font-size: 12px;
    padding: 13px 15px;
    transition: height .2s;
    width: 100%;
    color: #555;
}

.notification-error {
    background: #ffeded;
    border-color: #f7cbcb;
}

.notification-inline {
    border-radius: 4px;
    line-height: 14px;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    text-align: left;
    vertical-align: middle;
}

.notification-inline.notification-error {
    background-color: #fff0f1;
    border: 1px solid #e35b66;
    color: #cc3340;
}

#upload-error {
    display: none;
    margin-top: 10px;
}

.upload-pool {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.form footer {
    margin-top: 40px;
    padding-top: 30px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.button-large, input[type="submit"] {
    background-color: rgba(255, 212, 0, 1);
    border: 0;
    border-radius: 4px;
    color: rgba(154, 155, 167, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 2.72;
    min-width: 190px;
    padding: 0 1.9286em;
    width: 100%;
    color: #333333;
}

.button-request-yellow, input[type="submit"] {
    background-color: rgba(255, 212, 0, 1);
    border: 0;
    border-radius: 4px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.72;
    min-width: 240px;
    padding: 10px 50px 10px 50px;
    width: 100%;
}



