<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/findAccount/find_password.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
    <title>오!스카 | 비밀번호 변경</title>
</head>
<body>
<div id="reset-password">
    <section class="header-wrapper">
        <header role="heading" class="header-main">
            <div class="link-wrapper">
                <a role="link" href="/" class="img-wrapper">
                    <img src="/images/logo.png" alt="로고" style="width: 85px; height: 100%;">
                </a>
            </div>
        </header>
        <section class="main-content-container">
            <div class="main-content-wrapper">
                <h1 class="title" style="font-size: 23px;">비밀번호 변경</h1>
                <form action="/reset-memberPassword" method="POST" class="reset-pw-form">
                    <input id="memberEmail" type="hidden" name="memberEmail" />
                    <section>
                        <label class="new-pw">변경할 비밀번호</label>
                        <div class="new-pw-input-container">
                            <div class="new-pw-input-wrapper">
                                <input
                                        id="newPassword"
                                        type="password"
                                        placeholder="비밀번호를 입력해 주세요. (8자리 이상)"
                                        class="new-pw-input"
                                        aria-autocomplete="list"
                                />
                            </div>
                        </div>
                        <div class="err-msg1">
                            <div class='pw-regex-err-msg'>
                                <p variant='body2' class='err-msg wrong-msg1' color='red500'>
                                    8자 이상, 영문 대 소문자, 숫자, 특수문자를 사용하세요.
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="padding">
                        <label class="one-more">한번 더 입력</label>
                        <div class="check-new-pw-container">
                            <div class="check-new-pw-wrapper">
                                <input
                                        id="checkPassword"
                                        type="password"
                                        placeholder="비밀번호를 한번 더 입력해 주세요."
                                        name="memberPassword"
                                        class="new-pw-input"
                                />
                            </div>
                        </div>
                    </section>
                    <br />
                    <div class="submit-btn-wrapper">
                        <button role="button" color="yellow" type="submit" class="submit-btn">
                            <span class="btn-text">변경하기</span>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </section>
</div>
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script type="text/javascript" src="/js/resetPassword/pw-regex.js"></script>
<script th:inline="javascript">
    let email = [[${memberEmail}]];
    $("#memberEmail").val(email);
</script>
</html>