<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/introduction/introduction-all.css"/>
    <link rel="stylesheet" href="/css/introduction/introduction-header.css"/>
    <link rel="stylesheet" href="/css/introduction/introduction-main.css"/>
    <link rel="stylesheet" href="/css/introduction/introduction-footer.css"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <title>회사소개 - 오!스카</title>
</head>
<body>
<div id="introduction">
    <div tabindex="-1" id="introduction-wrapper" style="outline:none;">
        <header class="header-wrapper">
            <div class="header-container">
                <div class="header-logo">
                    <a aria-current="page" class="" href="https://www.kmongcorp.com/">
                        <img src="/images/logo.png" alt="오!스카 로고" style="width:70px; height: 40px;">
                    </a>
                </div>
            </div>
        </header>

        <main class="main-wrapper">
            <!-- section1 -->
            <section class="section1">
                <div class="section1-intro">
                    <h1 class="site-name">Oh!스카</h1>
                    <h2 class="site-intro">자국민 IT 기술 상향 평준화를 위한 스터디 플랫폼</h2>
                    <div class="link-container">
                        <div class="link-wrapper">
                            <!-- 메인 화면으로 이동  -->
                            <a role="link" href="" class="link orange">
                                <span class="link-content">Oh!스카 서비스 이용하기</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="/images/introduction-images/intro1.png" alt="introduction 이미지1" class="intro-image1">
                </div>
            </section>

            <!-- section2 -->
            <section class="section2">
                <div class="section2-wrapper">
                    <div class="section2-content-container">
                        <p class="section2-content-title">누적 회원수</p>
                        <div class="section2-content-wrapper">
                            <b><p class="section2-content">286</p></b>
                            명+
                        </div>
                    </div>
                    <div class="section2-content-container">
                        <p class="section2-content-title">평균 만족도</p>
                        <div class="section2-content-wrapper">
                            <b><p class="section2-content">99</p></b>
                            %+
                        </div>
                    </div>
                    <div class="section2-content-container">
                        <p class="section2-content-title">누적 스터디 개설 수</p>
                        <div class="section2-content-wrapper">
                            <b><p class="section2-content">150</p></b>
                            건+
                        </div>
                    </div>
                </div>
            </section>

            <!-- section3 -->
            <section class="main-intro-section main-intro-section">
                <div class="main-intro-container main-intro-container">
                    <div class="main-intro-wrapper main-intro-wrapper">
                        <p class="main-intro-title main-intro-title">IT 스터디 플랫폼</p>
                        <p class="main-intro-content main-intro-content">IT 개발자들에게<br>다양한 스터디와 실력 향상의 기회를</p>
                        <p class="main-intro-detail-content main-intro-detail-content">OH!스카는 성장하는 IT 개발자들을 위해<br>다양한 IT 스터디 서비스를 제공하는 플랫폼입니다.</p>
                        <div class="link-wrapper">
                            <a role="link" color="blue" href="" class="link blue">
                                <span class="blue">스터디 둘러보기</span>
                            </a>
                        </div>
                    </div>
                    <div class="main-intro-image">
                        <img src="/images/introduction-images/intro2.png" style="height: 360px; width: 540px;">
                    </div>
                    <div class="media-button media-button">
                        <a role="link"  href="" class="media-link media-link blue">
                            <span class="blue">스터디 둘러보기</span>
                        </a>
                    </div>
                </div>

            </section>

            <!-- section4 -->
            <section class="main-intro-section">
                <div class="main-intro-container">
                    <div class="main-intro-wrapper">
                        <img src="/images/introduction-images/intro3.png" class="intro-image3">
                    </div>
                    <div class="main-intro-wrapper margin-style">
                        <p class="main-intro-title">카공 카페</p>
                        <p class="main-intro-content">스터디 카페,<br>OH!스카에서 다양하게 만나보세요.</p>
                        <p class="main-intro-detail-content">스터디를 진행할 수 있는<br>다양한 카페를 OH!스카에서 찾아보세요.</p>
                        <div class="link-wrapper">
                            <!-- 오늘의 카페 메인페이지로 연결 -->
                            <a role="link" color="yellow" href="" class="link orange">
                                <span class="link-content">카페 둘러보기</span>
                            </a>
                        </div>
                        <div class="media-button">
                            <!-- 오늘의 카페 메인페이지로 연결 -->
                            <a role="link" href="" class="media-link orange">
                                <span class="link-content">카페 둘러보기</span>
                            </a>
                        </div>
                    </div>
                </div>

            </section>

            <!-- section5 -->
            <section class="section5" style= "background-image:url(/images/introduction-images/intro4.png);">
                <div class="section5-wrapper">
                    <p class="section5-content">지금 OH!스카에서 <b>다양한 서비스</b>를 만나보세요.</p>
                    <!-- 오스카 메인 페이지와 연결하기   -->
                    <a role="link" color="yellow" href="" class="link blue">
                        <span class="blue">OH!스카 이용하기</span>
                    </a>
                </div>
            </section>
        </main>


        <footer class="footer-wrapper">
            <div class="footer-container">
                <p class="footer-company">(주)OH!스카</p>
                <p class="footer-company-content" color="gray600">사업자 등록번호: 815-88-00171 | 대표: 정해승</p>
                <p class="footer-company-content" color="gray600">서울특별시 강남구 테헤란로 26길 12 제일비전타워 13층</p>
                <div class="footer-content-wrapper">
                    <a href="" class="footer-content">오늘의 스터디</a>
                    <a href="" class="footer-content">오늘의 카페</a>
                    <a href="" class="footer-content">FAQ</a>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>