<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/.zdassets.com/hc/assets/theming_v1_support-e05586b61178dcde2a13a3d323525a18.css" media="all">
    <link rel="stylesheet" href="../../static/css/FAQ/main/base.css">
    <link rel="stylesheet" href="../../static/css/FAQ/main/faq-main.css">
    <link rel="stylesheet" href="../../static/css/FAQ/main/medias.css">
    <title>FAQ</title>
</head>
<body>
<!-- <ul class="article-list"> 안에 데이터들을 넣으면 됨 -->
<div style="background-color:#ffffff ">
    <header class="header" style="background-color:#ffffff ">
        <div class="logo">
            <a href="#">
                <img
                        style="width: 135px;"
                        src="/images/logo4.png"
                        class="logo-osca"
                />
            </a>
        </div>

        <div class="nav-wrapper">
            <a class="login" data-auth-action="signin" role="button" rel="nofollow" title="대화 상자를 엽니다." href="/hc/ko/signin?return_to=https%3A%2F%2Fsupport.kmong.com%2Fhc%2Fko%2Fcategories%2F360001643071&amp;locale=ko">로그인</a>

        </div>
    </header>

</div>
<main role="main">
    <div class="container-divider"></div>
    <div class="container">
        <nav class="sub-nav">
            <ol class="breadcrumbs">
            </ol>
        </nav>

        <div class="category-container">
            <div class="category-content">
                <header class="page-header">
                    <h1><div class="page-title">FAQ</div></h1>

                </header>

                <div class="section-tree">

                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="#">스터디</a>
                        </h3>
                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[스터디] 참여 가능한 스터디는 어디서 보나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[스터디] 스터디원은 최대 몇명까지 가능한가요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[스터디] 스터디 중도 퇴장은 어디서 하나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[스터디] 내가 등록한 회사가 스터디 상세보기에 노출이 되나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[스터디] IT 관련 스터디만 등록 가능한가요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[스터디] 스터디 개설은 별도의 요금 없나요?</a>
                            </li>
                        </ul>
                        <a href="#" class="see-all-articles">
                            스터디 문서 모두 보기
                        </a>
                    </section>

                    <!--                   <a tabindex="0" aria-hidden="true" class="see-all-sections-trigger" title="모든 섹션 보기…">모든 섹션 보기…</a>-->

                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="">서비스 소개</a>
                        </h3>

                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[서비스 소개] 오!스카는 어떻게 이용하나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="" class="article-list-link">서비스 소개] 오!스카 이용 가이드: 스터디 편</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[서비스 소개] 오!스카 이용가이드: 카페 편</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[서비스 소개] 오!스카에서 카페를 확인할 수 있는 이유는?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[서비스 소개] 카페 베너 문의는 어디서 하나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[서비스 소개] 카페 사장도 스터디를 개설 가능한가요?</a>
                            </li>
                        </ul>
                        <a href="#" class="see-all-articles">
                            서비스 소개 문서 모두 보기
                        </a>

                    </section>

                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="#">카페</a>
                        </h3>

                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[카페] 카페는 어디에서 등록하나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[카페] 카페 등록 시 무엇이 필요나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[카페] 카페는 몇개까지 등록 가능한가요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[카페] 내가 등록한 카페는 어디서 확인하나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[카페] 스터디가 보낸 이용 신청은 어덯게 확인하나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[카페] 카페 홍보글은 카페 사장만 등록 가능한가요??</a>
                            </li>
                        </ul>
                        <a href="#" class="see-all-articles">
                            카페 문서 모두 보기
                        </a>

                    </section>

                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="#">포인트</a>
                        </h3>
                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[포인트] 포인트는 어떻게 충전하나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[포인트] 포인트 환불은 가능한가요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[포인트] 포인트 결제 방식은 어떻게 되나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[포인트] 포인트는 무엇에 사용되나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[포인트] 포인트가 얼마 남았는지 확인 가능한가요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[포인트] 포인트 양도가 되나요?</a>
                            </li>
                        </ul>
                        <a href="#" class="see-all-articles">
                            포인트 문서 모두 보기
                        </a>

                    </section>

                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="#">가입/인증</a>
                        </h3>
                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[가입/인증] 회원가입은 어떻게 진행하나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[가입/인증] 외국인·해외 거주자도 회원가입할 수 있나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[가입/인증] 휴대폰 인증이 안되는 이유와 해결 방법은 무엇인가요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[가입/인증] 한 전화번호로 몇개의 계정을 만들 수 있나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[가입/인증] 휴대폰 번호를 변경하면 어떻게 되나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[가입/인증] 가족 등 타인 명의의 휴대폰으로 인증할 수 있나요?</a>
                            </li>
                        </ul>
                        <a href="#" class="see-all-articles">
                            가입/인증 문서 모두 보기
                        </a>
                    </section>

                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="#">계정 정보/ 탈퇴</a>
                        </h3>
                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[계정 정보/탈퇴] 회원 탈퇴는 어떻게 진행하나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[계정 정보/탈퇴] 아이디와 비밀번호는 어떻게 찾나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[계정 정보/탈퇴] 회원 탈퇴 후 재가입 할 수 있나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[계정 정보/탈퇴] 아이디와 비밀번호는 어떻게 변경하나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[계정 정보/탈퇴] 닉네임은 어떻게 변경하나요?</a>
                            </li>
                        </ul>
                        <a href="#" class="see-all-articles">
                            계정 정보/탈퇴 문서 모두 보기
                        </a>
                    </section>


                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="#">개인정보</a>
                        </h3>
                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[개인정보] 개인정보는 안전하게 보호되나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[개인정보] 회원 탈퇴 시 개인정보는 모두 삭제되나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[개인정보] 개인정보 유출, 계정 도용은 어떻게 예방하나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[개인정보] 계정 도용은 어떻게 의심하고 조치할 수 있나요?</a>
                            </li>
                        </ul>
                        <a href="#" class="see-all-articles">
                            개인정보 문서 모두 보기
                        </a>
                    </section>

                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="#">신고·페널티</a>
                        </h3>
                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[신고·페널티] 이용 중 불편 사항을 신고할 수 있나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[신고·페널티] 어떤 경우 신고를 하나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[신고·페널티] 스티디원을 신고할 수 있나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[신고·페널티] 카페 사장이 스터디를 신고할 수 있나요?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="#" class="article-list-link">[신고·페널티] 신고 패널티는 어떤것이 있나요?</a>
                            </li>
                        </ul>
                        <a href="#" class="see-all-articles">
                            개인정보 문서 모두 보기
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- ==================================== footer ====================================== -->
<footer class="footer">
    <div class="footer-inner">
        <ol style="width:40%">
            <b>(주)오!스카</b> | 코리아 IT, 13층 | 대표 : 정유진<br>
            개인정보보호책임 :  | 사업자등록번호 : 000-11-2222<br>
            통신판매업신고 : 2018-서울서초-2134 | 1234-5678<br>
            help@osca.com | 호스팅 사업자: Amazon Web Service(AWS)</ol>
        <ol><a href="#">공지사항</a></ol>
        <ol><a href="#">FAQ</a></ol>
        <ol><a href="#">이용약관</a></ol>
        <ol><a href="#"><b>개인정보처리방침</b></a></ol>
    </div>
    <div class="footer-mweb">
        &nbsp;&nbsp; (주) 오!스카 &nbsp;&nbsp;&nbsp;
        <a href="#">공지사항</a>&nbsp;
        <a href="#">FAQ</a>&nbsp;
        <a href="#">이용약관</a>&nbsp;
        <a href="#"><b>개인정보처리방침</b></a>&nbsp;
        <a href="#">1:1 문의하기</a>&nbsp;&nbsp;
    </div>

</footer>
<!-- ==================================== footer ====================================== -->
</body>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="../../static/js/FAQ/toggle-member-menu.js"></script>
</html>