@charset "UTF-8";

html {
  line-height: normal;
  -webkit-text-size-adjust: 100%;
}

body {
  display: block;
  margin: 0;
}

* {
  font-family: 'Metro Sans', sans-serif;
  box-sizing: border-box;
}

a {
  background-color: transparent;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#form{
  margin: 0;
  padding: 0;
  border: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Metro Sans';
  font-style: normal;
  font-weight: 900;
  src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.woff2)
      format('woff2'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.woff)
      format('woff'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.otf)
      format('truetype'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.eot),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Black.eot?#iefix)
      format('embedded-opentype');
}

@font-face {
  font-family: 'Metro Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.woff2)
      format('woff2'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.woff)
      format('woff'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.otf)
      format('truetype'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.eot),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.eot?#iefix)
      format('embedded-opentype');
}

@font-face {
  font-family: 'Metro Sans';
  font-style: normal;
  font-weight: 500;
  src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.woff2)
      format('woff2'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.woff)
      format('woff'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.otf)
      format('truetype'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.eot),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Medium.eot?#iefix)
      format('embedded-opentype');
}

@font-face {
  font-family: 'Metro Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.woff2)
      format('woff2'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.woff)
      format('woff'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.otf)
      format('truetype'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.eot),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Regular.eot?#iefix)
      format('embedded-opentype');
}

@font-face {
  font-family: 'Metro Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.woff2)
      format('woff2'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.woff)
      format('woff'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.otf)
      format('truetype'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.eot),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Light.eot?#iefix)
      format('embedded-opentype');
}
* {
  font-family: 'Metro Sans', sans-serif;
  box-sizing: border-box;
}
.body-box {
  margin-top: 20px;
  padding: 40px;
  border: 1px solid rgb(228, 229, 237);
  display: flex;
  flex-direction: column;
}

.inputbox {
  width: 100%;
  border: 1px solid rgb(228, 229, 237);
  border-radius: 4px;
  transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
  display: inline-flex;
  flex-direction: row;
  overflow: hidden;
  cursor: text;
  background-color: rgb(255, 255, 255);
  color: rgb(48, 52, 65);
  height: 42px;
  font-size: 15px;
  padding: 0px 14px;
  min-width: 64px;
}

.input-box-value {
  outline: none;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  background-image: none;
  box-sizing: border-box;
  font-size: inherit;
  border: none;
  font-weight: inherit;
  background-color: transparent;
  text-align: left;
  color: inherit;
}

.new-password-section {
  margin-top: 32px;
}

.title-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.new-password-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  position: relative;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.new-password-input-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.password-input-box {
  width: 100%;
  border: 1px solid rgb(228, 229, 237);
  border-radius: 4px;
  transition: background-color 0.2s ease 0s, border-color 0.2s ease 0s;
  display: inline-flex;
  flex-direction: row;
  overflow: hidden;
  cursor: text;
  background-color: rgb(255, 255, 255);
  color: rgb(48, 52, 65);
  height: 42px;
  font-size: 15px;
  padding: 0px 14px;
  min-width: 64px;
}

.confirm-box {
  margin-top: 20px;
  display: flex;
}

.confirm-button {
  outline: none;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 1;
  font-weight: 500;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  max-width: 100%;
  height: 42px;
  font-size: 15px;
  padding: 0px 22px;
  min-width: 64px;
  white-space: nowrap;
  background-image: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #f9a01b;
  border-color: #f9a01b;

}
.confirm-button:hover {
  background-color: rgb(245, 193, 38);
  border-color: rgb(245, 193, 38);
}
.wrong-input {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 4px;
}

.wrong-input-text {
  margin: 0px;
  color: rgb(255, 64, 43);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.429;
  letter-spacing: 0px;
}

.p1 {
  display: none;
}
.p2 {
  display: none;
}
.p3 {
  display: none;
}

.hidden{
    display: none !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.modal-box {
  background: white;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accept-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 12px;
  font-size: 13px;
  margin-right: 10px;
  border-radius: 8px;
  color: #fff;
  background-color: #f9a01b;
  border-color: #f9a01b;
  width: 60px;
}

.check-input-password{
  margin: 6px 0 0 0;
  padding: 0;
  color: #9a9ba7;
  font-size: 12px;
}
