/* FAQ-detail-main css */
.container-divider {
    border-top: 1px solid #FEEB83;
    margin-bottom: 20px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
}

.sub-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    min-height: 50px;
    padding-bottom: 15px;
}

.breadcrumbs {
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 400;
    color: #666666;
}

.breadcrumbs li {
    display: inline;
    font-weight: 400;
    font-size: 13px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666666;
}

.breadcrumbs li a:visited {
    color: #666666;
}

.breadcrumbs li + li::before {
    content: ">";
    margin: 0 4px;
}

.article-container {
    display: flex;
    flex-direction: column;
}

.article-sidebar {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    flex: 1 0 auto;
    margin-bottom: 20px;
    padding: 0;
    color: #666666;
}

.collapsible-sidebar {
    flex: 1;
    max-height: 45px;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

.sidenav-title {
    font-size: 15px;
    position: relative;
}

.collapsible-sidebar-title {
    margin-top: 0;
}

.sidenav-item {
    border-radius: 4px;
    color: #999999;
    display: block;
    font-weight: 350;
    margin-bottom: 10px;
    padding: 0px;
}

.sidenav-item.current-article, .sidenav-item:hover {
    background-color: #F2F3F7;
    color: #333333;
    font-weight: 400;
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sidenav-item-text {
    padding: 10px;
}

.article {
    flex: 1 0 auto;
}

.article-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-top: 20px;
}

.article-info {
    max-width: 100%;
}

.article-content {
    line-height: 1.6;
    margin: 30px 0;
    word-wrap: break-word;
    color: #333333;
}

.wysiwyg-color-orange80 {
    color: #ffc266;
}

.wysiwyg-font-size-medium {
    font-size: small;
}

.article-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

/* 문의하기 버튼 */
.button-request-yellow, input[type="submit"] {
    background-color: rgba(255, 212, 0, 1);
    border: 0;
    border-radius: 4px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.72;
    min-width: 240px;
    padding: 10px 50px 10px 50px;
    width: 100%;
}
/* 문의하기 버튼 */

.article-return-to-top {
    border-top: 1px solid #ddd;
}

.article-return-to-top a {
    color: rgba(102, 102, 102, 1);
    display: block;
    padding: 20px 0;
}

.icon-arrow-up::before {
    content: "\2B06";
}

.article-return-to-top .icon-arrow-up::before {
    font-size: 16px;
    margin-left: 5px;
}

.article-relatives {
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}



