<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cafeDetail</title>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/cafe/cafe_detail.css"/>
    <link rel="stylesheet" href="/css/cafe/cafeDetail-mq.css"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png"/>
</head>
<body>
<div id="__next">
    <!-- 헤더 -->
    <header class="header-wrapper">
        <section class="header-container">
            <a href="/" aria-label="logo" class="header-logo">
                <img src="/images/logo.png" alt="오!스카 로고" style="width: 70px; height: 40px" />
            </a>
            <div>
                <span class="header-line"></span>
                <a href="" class="header-menu">오늘의 스터디</a>
                <a href="" class="header-menu">오늘의 카페</a>
                <a href="" class="header-menu">FAQ</a>
                <a href="" class="header-menu">Oh!스카 소개</a>
            </div>
            <div style="flex-grow: 1"></div>
            <div class="header-aside">
                <a
                        role="link"
                        color="default"
                        href="/inboxes?inbox_group_id=&amp;partner_id="
                        class="header-aside-menu"
                        aria-expanded="false"
                >
                <span class="aside-menu-contents">
                    <p variant="body2" class="aside-contents" color="gray900">회원가입</p>
                </span>
                </a>
                <a
                        role="link"
                        color="default"
                        href="/inboxes?inbox_group_id=&amp;partner_id="
                        class="header-aside-menu"
                        aria-expanded="false"
                >
                <span class="aside-menu-contents">
                    <p variant="body2" class="aside-contents" color="gray900">로그인</p>
                </span>
                </a>
                <a
                        role="link"
                        color="default"
                        href="/inboxes?inbox_group_id=&amp;partner_id="
                        class="header-aside-menu"
                        aria-expanded="false"
                >
                <span class="aside-menu-contents">
                    <p variant="body2" class="aside-contents" color="gray900">마이페이지</p>
                </span>
                </a>
                <div>
                    <div class="header-profile" aria-expanded="false">
                        <a href="/buyer/order-list" class="profile-link">
                            <div class="profile-wrapper">
                                <div size="32" shape="0" role="article" class="profile-shape">
                                    <img
                                            src="https://kmong.com/img/tools/main_user_gray.png"
                                            alt="avatar"
                                            shape="0"
                                            loading="lazy"
                                            class="profile-img"
                                            style="height: 32px; width: 32px"
                                    />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!-- 메인  -->
    <div class="main">
        <div class="main-area">
            <section class="contents-area">
                <main class="contents">
                    <section class="card-area">
                        <div class="show-card" style="overflow: hidden;">
                            <img src="images/hollys.jpeg" alt="메인 이미지" style="width: fit-content" class="shown">
                        </div>
                        <div class="next-card-box">
                            <div class="next-cards">
                                <div class="slick-slider slick-initialized" dir="ltr">
                                    <button aria-label="carousel-arrow-button" direction="prev" disabled class="prev btn">
                                            <span role="img" rotate="0" class="btn-content">
                                                <svg aria-hidden="true" fill="currentColor" focusable="false" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" width="24" class="arrow">
                                                    <path clip-rule="evenodd" d="M16.2071 19.7071C16.5976 19.3166 16.5976 18.6834 16.2071 18.2929L9.91421 12L16.2071 5.70711C16.5976 5.31658 16.5976 4.68342 16.2071 4.29289C15.8166 3.90237 15.1834 3.90237 14.7929 4.29289L7.79289 11.2929C7.40237 11.6834 7.40237 12.3166 7.79289 12.7071L14.7929 19.7071C15.1834 20.0976 15.8166 20.0976 16.2071 19.7071Z" fill-rule="evenodd"></path>
                                                </svg>
                                            </span>
                                    </button>
                                    <div class="slick-list">
                                        <div class="slick-track" style="width: 3180px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                            <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none; width: 159px;">
                                                <div>
                                                    <img src="images/hollys2.jpg" alt="서브 이미지" tabindex="-1" style="width: 100%; display: inline-block" class="waiting">
                                                </div>
                                            </div>
                                            <div data-index="1" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none; width: 159px;">
                                                <div>
                                                    <img src="images/hollys3.jpg" alt="서브 이미지" tabindex="-1" style="width: 100%; display: inline-block" class="waiting">
                                                </div>
                                            </div>
                                            <div data-index="2" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none; width: 159px;">
                                                <div>
                                                    <img src="#" alt="서브 이미지" tabindex="-1" style="width: 100%; display: inline-block" class="waiting">
                                                </div>
                                            </div>
                                            <div data-index="3" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none; width: 159px;">
                                                <div>
                                                    <img src="#" alt="서브 이미지" tabindex="-1" style="width: 100%; display: inline-block" class="waiting">
                                                </div>
                                            </div>
                                            <div data-index="4" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none; width: 159px;">
                                                <div>
                                                    <img src="#" alt="서브 이미지" tabindex="-1" style="width: 100%; display: inline-block" class="waiting">
                                                </div>
                                            </div>
                                            <div data-index="5" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none; width: 159px;">
                                                <div>
                                                    <img src="#" alt="서브 이미지" tabindex="-1" style="width: 100%; display: inline-block" class="waiting">
                                                </div>
                                            </div>
                                            <div data-index="6" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none; width: 159px;">
                                                <div>
                                                    <img src="#" alt="서브 이미지" tabindex="-1" style="width: 100%; display: inline-block" class="waiting">
                                                </div>
                                            </div>
                                            <div data-index="7" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none; width: 159px;">
                                                <div>
                                                    <img src="#" alt="서브 이미지" tabindex="-1" style="width: 100%; display: inline-block" class="waiting">
                                                </div>
                                            </div>
                                            <div data-index="8" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none; width: 159px;">
                                                <div>
                                                    <img src="#" alt="서브 이미지" tabindex="-1" style="width: 100%; display: inline-block" class="waiting">
                                                </div>
                                            </div>
                                            <div data-index="9" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none; width: 159px;">
                                                <div>
                                                    <img src="#" alt="서브 이미지" tabindex="-1" style="width: 100%; display: inline-block" class="waiting">
                                                </div>
                                            </div>
                                            <div data-index="10" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none; width: 159px;">
                                                <div>
                                                    <img src="#" alt="서브 이미지" tabindex="-1" style="width: 100%; display: inline-block" class="waiting">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button aria-label="carousel-arrow-button" direction="next" class="next btn">
                                            <span role="img" rotate="0" class="btn-content">
                                                <svg aria-hidden="true" fill="currentColor" focusable="false" height="24" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" width="24" class="arrow">
                                                    <path clip-rule="evenodd" d="M7.79289 19.7071C7.40237 19.3166 7.40237 18.6834 7.79289 18.2929L14.0858 12L7.79289 5.70711C7.40237 5.31658 7.40237 4.68342 7.79289 4.29289C8.18342 3.90237 8.81658 3.90237 9.20711 4.29289L16.2071 11.2929C16.5976 11.6834 16.5976 12.3166 16.2071 12.7071L9.20711 19.7071C8.81658 20.0976 8.18342 20.0976 7.79289 19.7071Z" fill-rule="evenodd"></path>
                                                </svg>
                                            </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="context-area">
                        <div class="description">카페 설명</div>
                        <div height="842" class="details">
                            <div class="detail-box">
                                <p style="text-align: center;">24시간 운영하는 할리스에서 카공하세요! 우리 카페는 ...</p>
                            </div>
                            <div></div>
                        </div>
                    </section>
                    <section class="location-detail">
                        <h3 class="more">카페 상세 위치</h3>
                        <div id="map" style="width:100%;height:350px;"></div>
                    </section>
                    <section class="see-more">
                        <h3 class="more">오스카가 추천하는 다른 카페</h3>
                        <div class="more-cards">
                            <div class="more-cards-box">
                                <div class="more-cafe">
                                    <img src="../cafeMain/images/hollys.png" alt="">
                                    <a href="#"></a>
                                </div>
                                <div class="more-cafe">
                                    <img src="../cafeMain/images/hollys.png" alt="">
                                    <a href="#"></a>
                                </div>
                                <div class="more-cafe">
                                    <img src="../cafeMain/images/hollys.png" alt="">
                                    <a href="#"></a>
                                </div>
                                <div class="more-cafe">
                                    <img src="../cafeMain/images/hollys.png" alt="">
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
                <aside class="aside-box">
                    <section class="title-box">
                        <h1 class="adv-title">카공족 환영합니다!</h1>
                        <div class="star-box">
                            <svg id="scrap-cafe" class="star" enable-background="new 0 0 24 24" height="24px" version="1.1" viewBox="0 0 36 36" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="cursor: pointer;">
                                    <path d="M31.881,12.557c-0.277-0.799-0.988-1.384-1.844-1.511l-8.326-1.238l-3.619-7.514  C17.711,1.505,16.896,1,16,1c-0.896,0-1.711,0.505-2.092,1.294l-3.619,7.514l-8.327,1.238c-0.855,0.127-1.566,0.712-1.842,1.511  c-0.275,0.801-0.067,1.683,0.537,2.285l6.102,6.092l-1.415,8.451C5.2,30.236,5.569,31.09,6.292,31.588  C6.689,31.861,7.156,32,7.623,32c0.384,0,0.769-0.094,1.118-0.281L16,27.811l7.26,3.908C23.609,31.906,23.994,32,24.377,32  c0.467,0,0.934-0.139,1.332-0.412c0.723-0.498,1.09-1.352,0.947-2.203l-1.416-8.451l6.104-6.092  C31.947,14.239,32.154,13.357,31.881,12.557z M23.588,19.363c-0.512,0.51-0.744,1.229-0.627,1.934l1.416,8.451l-7.26-3.906  c-0.348-0.188-0.732-0.281-1.118-0.281c-0.384,0-0.769,0.094-1.117,0.281l-7.26,3.906l1.416-8.451  c0.118-0.705-0.114-1.424-0.626-1.934l-6.102-6.092l8.326-1.24c0.761-0.113,1.416-0.589,1.743-1.268L16,3.251l3.62,7.513  c0.328,0.679,0.982,1.154,1.742,1.268l8.328,1.24L23.588,19.363z" fill="#333333" id="star"/>
                                </svg>
                        </div>
                    </section>
                    <section class="description-card-box">
                        <div class="description-box">
                            <div class="cafe-info">
                                <span class="location">강남구 역삼동</span>
                                <div class="shorts">
                                    <span class="short-intro">* 24시간 운영<br></span>
                                    <span class="short-intro">* 카공족을 위한 충전 포트 완비<br></span>
                                    <span class="short-intro">* 배고픔을 달래줄 메뉴<br></span>
                                </div>
                            </div>
                            <div class="select">
                                <button color="#F9A01B" role="button" class="register">
                                        <span class="text-label">
                                            <span>카페 이용 신청하기</span>
                                        </span>
                                </button>
                            </div>
                        </div>
                    </section>
                </aside>
            </section>
        </div>
    </div>
    <!-- 푸터 -->
    <footer class="footer">
        <div class="footer-inner">
            <ol style="width: 45%; padding: 0">
                <b>(주)OH!스카</b>
                | 서울특별시 강남구 테헤란로 26길 12 제일비전타워 13층 | 대표 : 정해승<br />
                개인정보보호책임 : 배정수 | 사업자등록번호 : 815-88-00171<br />
                통신판매업신고 : 2015 - 서울강남 - 03148호 | 02-2135-2949<br />
                koreais@koreaedugroup.com
            </ol>
            <ol>
                <a href="">오늘의 스터디</a>
            </ol>
            <ol>
                <a href="">오늘의 카페</a>
            </ol>
            <ol>
                <a href="">FAQ</a>
            </ol>
            <ol>
                <a href="">OH!스카 소개</a>
            </ol>
        </div>
        <div class="footer-media">
            &nbsp;&nbsp; (주)OH!스카 &nbsp;&nbsp;&nbsp;
            <a href="">오늘의 스터디</a>&nbsp; <a href="">오늘의 카페</a>&nbsp; <a href="">FAQ</a>&nbsp;
            <a href="">OH!스카 소개</a>&nbsp;
        </div>
    </footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=f84848dfe600d3519b76d49148f91c84&libraries=services"></script>
<script type="text/javascript" src="/js/cafe/cafe_detail.js"></script>
</html>