<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>오스카 | 내 카페</title>
    <link rel="stylesheet" href="/css/header/header.css"/>
    <link rel="stylesheet" href="/css/footer/footer.css"/>
    <link rel="stylesheet" href="/css/cafe/my_cafe.css"/>
    <link rel="stylesheet" href="/css/cafe/my_cafe_sub.css"/>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png"/>
</head>
<body>
<!-- 헤더 시작 -->
<div th:if="${session.id == null}"><header th:replace="~{/fix/header :: unlogined-header}"></header></div>
<div th:if="${session.id != null && session.memberRole == 2}"><header th:replace="~{/fix/header :: social-logined-header}"></header></div>
<div th:if="${session.id != null && session.memberRole == null}"><header th:replace="~{/fix/header :: logined-header}"></header></div>


<!-- main 미디어 쿼리 -->
<main class="media-main">
    <div>
        <section class="media-menu-bar">
            <div class="media-menu-bar-wrapper">
                <div class="media-menu-content  all-content-color">
                    <a href="">전체 카페</a>
                </div>
                <div class="media-menu-content">
                    <a href="">진행중</a>
                </div>
                <div class="media-menu-content">
                    <a href="">만료</a>
                </div>
            </div>
        </section>
    </div>
</main>

<main style="margin-top: 0px;">
    <div class="main-wrapper">
        <div class="flex margin-top-60">
            <div class="side-menu-container">
                <div id="side-menu-wrapper" class="side-menu min-height">
                    <div class="side-menu-title-wrapper NGB">
                        내 카페
                    </div>
                    <div class="guide-line"></div>
                    <div class="menu-list-wrapper">
                        <ul id="side-menu-main-group side-menu-title-wrapper" class="main-menu-wrapper">
                            <li class="main-menu panel">
                                <a href="" target="_self" class="flex-left-center flex-align-baseline">
                                    <div class="badge-wrapper side-content-all-weight">
                                        <span>전체 카페</span>
                                    </div>
                                </a>
                            </li>
                            <li class="main-menu panel">
                                <a href="" target="_self" class="flex-left-center flex-align-baseline">
                                    <div class="badge-wrapper">
                                        <span>홍보 진행중인 카페</span>
                                    </div>
                                </a>
                            </li>
                            <li class="main-menu panel">
                                <a href="" target="_self" class="flex-left-center flex-align-baseline">
                                    <div class="badge-wrapper">
                                        <span>홍보기간 만료된 카페</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="content-wrapper">
                <div class="list-panel-wrapper">


                </div>

            </div>
        </div>
    </div>

</main>

<!-- 푸터 시작 -->
<footer th:replace="~{/fix/footer :: footer}"></footer>
<!-- 푸터 끝 -->

</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        const myCafeList = [[${myCafeList}]];
        const list = $('.list-panel-wrapper');

        const elapsedTime = (date) => {
            const end = new Date(date);
            const start = new Date();

            const diff = end - start;

            const days = Math.floor(diff / (1000 * 60 * 60 * 24));
            const hours = Math.floor(diff / (1000 * 60 * 60));
            const mins = Math.floor(diff / (1000 * 60));
            const secs = Math.floor(diff / 1000);

            const d = days;
            const h = hours - days * 24;
            const m = mins - hours * 60;
            const s = secs - mins * 60;
            if(d < 0){
                return ``;
            }
            return `${d}일 ${h}시간 ${m}분 ${s}초`;
        }
        const getDataSet = (data) => {
            let id = data.id, backgroundColor = "#144F79", status = "홍보 중", title = data.cafeAdTitle,
                contents = data.cafeAdContents, btnText = "홍보 기간 연장하기", btnLink = `/cafe/ticket-purchase?cafeAdId=${id}&type=`, type = 0,
                deadLineDate = data.cafeAdDeadlineDate, image = data.cafeImages;

            if(elapsedTime(data.cafeAdDeadlineDate) === ``){
                backgroundColor = "#d51e14"; status = "홍보기간 만료됨";
                btnText = "다시 홍보하기"; type = 1;
            }

            btnLink += type;
            return {id, backgroundColor, status,title,contents, btnText, btnLink, deadLineDate, image};
        }

        const panel = (data) => {
            const dataSet = getDataSet(data);
            const img = dataSet.image ?? "/images/main-page/default/cafeDefaultImage.jfif";
            const deadlineDate = elapsedTime(dataSet.deadLineDate);
            return (`
                <div class="panel-wrapper">
                    <div class="item-wrapper position-relative flex-center-center">


                        <div class="card-dropdown dropdown">
                            <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/ic_more.svg" alt="더보기 아이콘">
                            <ul class="dropdown-menu my-gigs-settings-dropdown-menu ">
                                <!-- 수정시 카페 detail페이지로 이동하기 -->
                                <li><a class="dropdown-link">수정</a></li>

                                <li><a class="dropdown-link delete-btn">삭제</a></li>
                            </ul>
                        </div>


                        <div class="main-image-wrapper border-opacity" style="background-image: url('${img}'); background-repeat : no-repeat; background-size : 100px;"></div>
                        <div class="item-content-wrapper">
                            <div>
                                <div class="breadcrumb-wrapper flex-left-center" style="margin-top: 1px;">
                                    <div class="status-label">
                                        <span class="label-chip font-medium" style="background-color: ${dataSet.backgroundColor};">${dataSet.status}</span>
                                    </div>
                                    <span class="border-color margin-left-5 margin-right-5">|</span>
                                    <span>${dataSet.title}</span>
                                </div>
                                <div class="item-title-wrapper">
                                    <a href="/cafe/detail/${dataSet.id}">
                                        ${dataSet.contents}
                                    </a>
                                </div>
                            </div>
                            <div class="date-wrapper">
                                <span class="margin-right-5" style="font-size: 14px;">${deadlineDate === '' ? "" : "홍보기간 만료까지"} </span>
                                <span style="font-size: 18px;">
                                    <span class="tahoma" data-date="${dataSet.deadLineDate}">${deadlineDate}</span>
                                </span>
                            </div>
                        </div>
                        <div class="button-wrapper position-relative">
                            <button class="NGB btn btn-custom-project"  onclick="location.href='${dataSet.btnLink}'">
                                ${dataSet.btnText}
                            </button>
                        </div>
                    </div>
                </div>
        `)}

        myCafeList.forEach((myCafe) => {
            list.append(panel(myCafe));
        });
        setInterval(() => list.find('.tahoma').each((idx, data) => $(data).text(elapsedTime($(data).attr('data-date')))), 1000)

        $(".card-dropdown").on(
            {"mouseover":function(){
                const $dropdown = $(this).find('.my-gigs-settings-dropdown-menu');
                $dropdown.removeClass("dropdown-menu");
                $dropdown.addClass("display-open");
            },
                "mouseout": function(){
                const $dropdown = $(this).find('.my-gigs-settings-dropdown-menu');
                $dropdown.addClass("dropdown-menu");
                $dropdown.removeClass("display-open");
            }
            });


    })
</script>
<script src="/js/cafe/my_cafe.js"></script>
</html>
