<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.osca.mapper.CeoMapper">
    <insert id="insertWelcomePoint">
        INSERT INTO TBL_CEO
        (MEMBER_ID)
        VALUES(#{memberid})
    </insert>

    <insert id="insertPoint">
        INSERT INTO TBL_CEO
        VALUES(#{memberId}, 0)
    </insert>

    <update id="updatePoint">
        UPDATE TBL_CEO
        SET CEO_POINT = CEO_POINT - #{ticketPoint}
        WHERE MEMBER_ID = #{memberId}
    </update>
    
    <select id="selectMemberPoint" resultType="_int">
        SELECT CEO_POINT FROM TBL_CEO WHERE MEMBER_ID = #{memberId}
    </select>
</mapper>