<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.osca.mapper.MemberJobMapper">
<!--  1. 멤버의 직업군과 직무 추가하기 ( 이거 근데 따로 나눌 듯?)  -->
    <insert id="insert">
        INSERT INTO TBL_MEMBER_JOB  (ID, JOB_CATEGORY_ID, JOB_ID, MEMBER_ID)
        VALUES (SEQ_MEMBER_JOB.NEXTVAL, #{jobCategoryId}, #{jobId}, #{memberId})
    </insert>
</mapper>
