<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.osca.mapper.MypageMemberMapper">
<!--    ========================= mypage/setting =========================-->
    <!-- 1. 회원의 닉네임, 이메일, 핸드폰 번호, role 가져오기 -->
    <select id="selectById" resultType="memberVO">
       SELECT ID, MEMBER_NiCKNAME, MEMBER_EMAIL, MEMBER_ROLE FROM TBL_MEMBER
       WHERE ID = #{id}
    </select>

    <!-- 2. 회원의 닉네임 수정하기 -->
    <update id="update">
        UPDATE TBL_MEMBER
        SET MEMBER_NiCKNAME=#{memberNickname}
        WHERE ID = #{id}
    </update>

    <!-- 3. 비밀번호 가져오기: 유효성 검사 -->
    <select id="selectPassword" resultType="String">
        SELECT MEMBER_PASSWORD FROM TBL_MEMBER WHERE ID = #{id}
    </select>

    <!-- 4. 비밀번호 수정하기 -->
    <update id="updatePassword">
        UPDATE TBL_MEMBER
        SET MEMBER_PASSWORD=#{memberPassword}
        WHERE ID = #{id}
    </update>

    <!-- 5. 회원 탈퇴하기 -->
    <delete id="delete">
        DELETE FROM TBL_MEMBER WHERE ID = #{id}
    </delete>

    <!-- 6. 닉네임 중복 검사 -->
    <!-- 만약 DB에 존재하는 닉네임이 있으면 1을 반환하고 없으면 0을 반환-->
    <select id="selectNickname" resultType="int">
      SELECT COUNT(*) FROM TBL_MEMBER
      WHERE MEMBER_NiCKNAME = #{memberNickname}
    </select>

    <!-- 7. 휴대폰 번호 수정하기 -->
    <update id="updatePhonenumber">
        UPDATE TBL_MEMBER
        SET MEMBER_PHONENUMBER=#{memberPhonenumber}
        WHERE ID = #{id}
    </update>

</mapper>