<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.osca.mapper.StudyMapper">
<!--    <insert id="insert">-->
<!--        INSERT INTO TBL_STUDY (ID, STUDY_TITLE, STUDY_CONTENTS, STUDY_TOTAL, STUDY_DEADLINE_DATE, MEMBER_ID)-->
<!--        VALUES (SEQ_STUDY.NEXTVAL, #{studyTitle}, #{studyContents}, #{studyTotal}, SYSDATE, #{memberId})-->
<!--    </insert>-->


</mapper>